body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10vh;
  height: 10vh;
  animation: load4 2s infinite cubic-bezier(0, 0.36, 1, -0.53);
}

.loader-item {
  width: 2vh;
  height: 2vh;
  background-color: black;
}

.loader-item:nth-child(1) {
  animation: load1 1s infinite ease-out;
}

.loader-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 20vh;
  height: 20vh;
  animation: load4 2s infinite cubic-bezier(0, 0.36, 1, -0.53);
}

@keyframes load4 {
  100% {
    transform: rotate(180deg);
  }
}

@keyframes load1 {
  0% {
    height: 2vh;
  }
  25% {
    height: 2vh;
  }
  50% {
    height: 2vh;
  }
  75% {
    height: 4vh;
  }
}

.loader-item:nth-child(2) {
  animation: load2 1s infinite ease-out;
}

@keyframes load2 {
  0% {
    height: 2vh;
  }
  25% {
    height: 2vh;
  }
  50% {
    height: 4vh;
  }
}

.loader-item:nth-child(3) {
  animation: load3 1s infinite ease-out;
}

@keyframes load3 {
  0% {
    height: 2vh;
  }
  25% {
    height: 4vh;
  }
}